     * {
         margin: 0;
         padding: 0;
         box-sizing: border-box;
     }
     
     header {
         width: 100%;
         height: 80px;
         background: #222729;
         opacity: 1;
         position: fixed;
     }
     
     .header-title {
         width: 25%;
         height: 40px;
         padding: 10px 10px;
         margin-left: 50px;
         margin-right: 50px;
     }
     
     .header-title>h1 {
         color: white;
         line-height: 80px;
         font-size: 25px;
         font-weight: bold;
         font-family: tahoma;
         cursor: pointer;
     }
     
     nav {
         width: 100%;
         height: 90px;
         margin-left: 70px;
         margin-right: 70px;
         padding-left: 80px;
         padding-right: 80px;
         text-align: center;
     }
     
     ul {
         margin: auto;
         width: max-content;
     }
     
     ul li {
         display: inline-block;
         list-style: none;
         margin-left: 90px;
         line-height: 20px;
         text-align: center;
     }
     
     .bucket {
         float: right;
         width: 25%;
         margin-top: -92px;
         margin-right: -190px;
     }
     
     .busket {
         font-size: 25px;
     }
     
     .bucket>span {
         color: white;
         font-size: 23px;
     }
     
     ul li a {
         color: blue;
         text-decoration: none;
         font-size: 22px;
         color: #555e61;
         transition: 1s;
     }
     
     a:hover {
         color: white;
     }
     
     .page1 {
         width: 100%;
         height: 100vh;
         background-image: url('../img/1.webp');
         background-size: cover;
         object-fit: cover;
         text-align: center;
     }
     
     .page1>h1 {
         font-size: 70px;
         font-weight: bold;
         color: white;
         line-height: 100px;
         font-weight: bold;
         padding-top: 200px;
         padding-left: 30px;
         padding-right: 30px;
     }
     
     .chevro-down {
         font-size: 54px;
         color: rgb(255, 255, 255);
         margin-top: 50px;
         margin-bottom: 40px;
     }
     
     .social {
         width: 5%;
         height: 150px;
         background: #222729;
         opacity: 0.7;
         position: absolute;
         right: 0px;
         top: 130px;
         position: fixed;
     }
     
     .social>p {
         font-size: 24px;
         color: blue;
         margin-top: 20px;
         cursor: pointer;
         transition: all 1s;
     }
     
     .social>a:hover {
         background-color: white;
         font-size: 25px;
     }
     
     .page2 {
         width: 100%;
         height: 100vh;
     }
     
     .item1 {
         width: 50%;
         height: 578px;
         background: black;
         float: left;
         text-align: center;
     }
     
     .item1>h3 {
         color: white;
         font-size: 54px;
         font-weight: bold;
         font-family: tahoma;
         padding: 10px;
         margin-top: 230px;
     }
     
     .item1>a {
         color: white;
         text-decoration: none;
         font-size: 25px;
         font-family: tahoma;
     }
     
     .item {
         width: 50%;
         height: 578px;
         float: left;
     }
     
     .item>img {
         width: 100%;
         height: 578px;
         object-fit: cover;
     }
     
     .page3 {
         width: 100%;
         height: 100vh;
     }
     
     .items {
         width: 33.1%;
         height: 580px;
         float: left;
         margin-left: 2px;
     }
     
     .items>img {
         width: 100%;
         height: 579px;
     }
     
     .page4 {
         width: 100%;
         height: 100vh;
         background: black;
         overflow: hidden;
     }
     
     .page4-title {
         color: white;
         text-align: center;
         padding: 68px;
     }
     
     .page4-title>h1 {
         font-size: 35px;
         font-family: tahoma;
         line-height: 80px;
     }
     
     .page4-title>span {
         font-size: 18px;
         font-family: tahoma;
     }
     
     .bags {
         width: 80%;
         padding: 20px;
         margin: auto;
     }
     
     .bag {
         width: 32%;
         height: 250px;
         margin-left: 10px;
         display: inline-block;
     }
     
     .bag>img {
         width: 100%;
         height: 240px;
     }
     
     .bag-description {
         width: 100%;
         margin: auto;
         line-height: 30px;
         color: white;
         transition: 1s;
         cursor: pointer;
     }
     
     .bag-description:hover {
         background: gray;
     }
     
     .bag-description>p {
         text-align: center;
         margin-top: 10px;
     }
     
     .sale {
         text-decoration: line-through;
         margin-left: 100px;
     }
     
     .page5 {
         width: 100%;
         height: 100vh;
         background-image: url('../img/3.webp');
         background-size: cover;
         position: relative;
     }
     
     .page5-item {
         width: 54%;
         height: 576px;
         color: white;
         background: #242625;
         opacity: 0.8;
     }
     
     .page5-item>h1 {
         font-size: 45px;
         position: absolute;
         left: 150px;
         top: 150px;
         font-weight: bold;
         font-family: tahoma;
     }
     
     .page5-item>p {
         position: absolute;
         top: 210px;
         left: 100px;
         padding-left: 20px;
         padding-right: 20px;
         font-size: 16px;
         font-family: tahoma;
     }
     
     .page6-form {
         width: 100%;
         height: 100vh;
         background: black;
     }
     
     .form {
         width: 80%;
         margin: auto;
     }
     
     .form-field {
         width: 50%;
         height: 400px;
         margin-top: 30px;
         float: left;
     }
     
     input {
         padding-left: 80px;
         padding-right: 80px;
         padding-top: 10px;
         margin-top: 10px;
     }
     
     textarea {
         padding-left: 82px;
         padding-right: 82px;
         padding-top: 80px;
         margin-top: 10px;
     }
     
     button {
         margin-left: 212px;
         margin-top: 10px;
         padding-left: 20px;
         padding-right: 20px;
         cursor: pointer;
         transition: 1s;
     }
     
     button:hover {
         background: gray;
     }
     
     .form-data {
         width: 40%;
         height: 400px;
         float: left;
         margin-top: 30px;
         margin-left: 50px;
         color: white;
     }
     
     .form-data>h1 {
         font-weight: bold;
         font-family: tahoma;
     }
     
     .form-data>p {
         line-height: 20px;
         margin-top: 20px;
         padding-right: 20px;
         font-size: 18px;
     }
     
     .contact {
         font-weight: bold;
         font-size: 24px;
         margin-top: 20px;
         cursor: pointer;
     }
     
     .footer-form {
         width: 100%;
         height: 280px;
         background: #1f2120;
     }
     
     .footer-title {
         width: 80%;
         height: 500px;
         margin: auto;
         color: white;
         text-align: center;
     }
     
     .footer-title>h1 {
         font-size: 32px;
         font-weight: bold;
         line-height: 120px;
     }
     
     .footer-field {
         width: 50%;
         background: #181a19;
         margin: auto;
     }
     
     .field {
         padding-left: 150px;
         padding-right: 150px;
         padding-top: 25px;
         background: white;
     }
     
     .field[type="text"]:focus {
         border: 4px solid red;
     }
     
      ::placeholder {
         color: black;
         font-size: 18px;
         text-align: center;
     }
     
     footer {
         width: 100%;
         height: 200px;
         background: #141414;
         color: white;
         text-align: center;
         font-size: 22px;
         line-height: 175px;
     }